SNOWGATE_ADDRESS=
NETWORK_STRING=
GROQ_API_KEY=   # Prompting the blockchain
AGENT_ALIAS=
AGENT_PASS=
ROUTESCAN_API="https://api.routescan.io/v2/network/testnet/evm/43113/etherscan/api"
RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65
ZERO_DEGREE_REGISTRY_ADDRESS=